<%- include("header.ejs") %>
    <div class="container mt-5 mb-5 p-3">
        <h1 class="text-light-emphasis text-center mt-4"><b>Contact For Booking</b></h1>
        <div class="row mb-5">
            <div class="col-xxl card-contact mb-5">
                <div class="card ccc w-100">
                    <div class="card-header">Contact Form</div>
                    <div class="card-body">
                        <form method="post" action="/send">
                            <div class="mb-3">
                                <label for="name">Name</label>
                                <input type="text" name="name" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="text" name="email" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label for="phone">Phone Number</label>
                                <input type="text" name="phone" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label for="message">Message</label>
                                <textarea type="text" name="message" class="form-control"></textarea>
                            </div>
                            <button type="submit" value="Send" class="btn btn-primary btn-lg btn-rounded">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("footer.ejs") %>