<%- include("header.ejs") %>


<!-- Section Split Screen -->
<section class="pt-2">

    <div class="container-fluid px-0">
      <div class="row g-0">
  
        <!-- First column -->
        <div id="homeCol1" class="col-lg-6 vh-75 d-flex flex-column justify-content-center align-items-center">
          <!-- headings -->
          <div class="vh-75 d-flex justify-content-center align-items-center px-5">
            <div class="">
              <h2 class="display-4">Craig Cahail</h2>
              <h1 class="display-2 fw-bold text-uppercase">House Music</h1>
            </div>
          </div>
          <!-- CTA elements -->
          <div class="d-flex align-items-center w-100 justify-content-between px-5 mb-5">
            <a href="" target="_blank" class="text-dark"><i
                class="fab fa-github fa-xl"></i></a>
            <hr class="hr d-none d-xl-flex" style="height: 2px; width: 200px;">
              <a class="btn btn-primary btn-lg btn-rounded" href="/music" role="button">Latest Tracks</a>
          </div>

        </div>
        <!-- First column -->
        
          <!-- Second column -->
          <div class="col-lg-6 vh-75 d-flex flex-column justify-content-center align-items-center">


            <div id="carouselExampleIndicators" class="carousel slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner container shadow-5-strong">
                <div class="carousel-item active border rounded-start-5 rotate-lg border-5 border-primary shadow-4">
                  <img src="../public/assets/CraigCahailDJ1.jpg" height="575px" class="d-block w-100 rounded-start-5" alt="...">
                </div>
                <div class="carousel-item border rounded-start-5 border-5 border-primary shadow-4 rotate-lg">
                  <img src="../public/assets/DigginDeepMonkeyLoft2.jpg" height="575px" class="d-block w-100 rounded-start-5" alt="...">
                </div>
                <div class="carousel-item border rounded-start-5 border-5 border-primary shadow-4 rotate-lg">
                  <img src="../public/assets/DigginDeepMonkeyLoft1.jpg" height="575px" class="d-block w-100 rounded-start-5" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
    
          
          </div>
        <!-- Second column -->
  
      </div>
    </div>

  </section>
  <!-- Section: Split screen -->

<%- include("footer.ejs") %>