<%- include("header.ejs") %>


<!-- Section Split Screen -->
<section class="">
  <div class="container-fluid px-0">
    <div class="home-card-main m-2 row g-0"> 
      <!-- First column -->
      <div id="homeCol1" class="col-lg-6 vh-75 d-flex flex-column justify-content-center align-items-center">
        <!-- headings -->
        <div class="vh-75 d-flex justify-content-center align-items-center px-5">
          <div class="">
            <h2 class="display-4">Craig Cahail</h2>
            <h1 class="display-2 fw-bold text-uppercase">House Music</h1>
          </div>
        </div>
        <!-- CTA elements -->
        <div class="d-flex align-items-center w-100 justify-content-between px-5 mb-5">
          <hr class="hr d-none d-xl-flex" style="height: 2px; width: 200px;">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#8FFF49" class="bi bi-device-hdd-fill" viewBox="0 0 16 16">
            <path d="M8.785 9.896A3.001 3.001 0 0 0 8 4a3 3 0 0 0-.891 5.865c.667-.44 1.396-.91 1.955-1.268.224-.144.483.115.34.34l-.62.96ZM9 7a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"/>
            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4Zm9 1.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm0 13a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm-9.5.5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1ZM4 1.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm2.882 11.177a1.102 1.102 0 0 1-1.56-1.559c.1-.098.396-.314.795-.588a4 4 0 1 1 1.946.47c-.537.813-1.02 1.515-1.181 1.677Z"/>
          </svg><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-house-heart-fill" viewBox="0 0 16 16">
            <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707L7.293 1.5Z"/>
            <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293Zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018Z"/>
          </svg><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#8FFF49" class="bi bi-device-hdd-fill" viewBox="0 0 16 16">
            <path d="M8.785 9.896A3.001 3.001 0 0 0 8 4a3 3 0 0 0-.891 5.865c.667-.44 1.396-.91 1.955-1.268.224-.144.483.115.34.34l-.62.96ZM9 7a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"/>
            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4Zm9 1.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm0 13a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm-9.5.5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1ZM4 1.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm2.882 11.177a1.102 1.102 0 0 1-1.56-1.559c.1-.098.396-.314.795-.588a4 4 0 1 1 1.946.47c-.537.813-1.02 1.515-1.181 1.677Z"/>
          </svg></span>
          <a class="btn btn-primary btn-lg btn-rounded" href="/music" role="button">Latest Tracks</a>
        </div>
      </div>
      <!-- First column -->
      <!-- Second column -->
      <div class="col-lg-6 vh-75 d-flex flex-column justify-content-center align-items-center">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner container shadow-5-strong">
            <div class="carousel-item active border rounded-start-5 rotate-lg border-5 border-primary shadow-4">
              <img src="../public/assets/CraigCahailDJ1.jpg" height="575px" class="d-block w-100 rounded-start-5" alt="...">
            </div>
            <div class="carousel-item border rounded-start-5 border-5 border-primary shadow-4 rotate-lg">
              <img src="../public/assets/DigginDeepMonkeyLoft2.jpg" height="575px" class="d-block w-100 rounded-start-5" alt="...">
            </div>
            <div class="carousel-item border rounded-start-5 border-5 border-primary shadow-4 rotate-lg">
              <img src="../public/assets/DigginDeepMonkeyLoft1.jpg" height="575px" class="d-block w-100 rounded-start-5" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>  
      </div>
      <!-- Second column -->  
    </div>
  </div>
</section>
<!-- Section: Split screen -->

<%- include("footer.ejs") %>