<%- include("header.ejs") %>


<div class="container-fluid text-center">
  <div class="">
    <iframe class="border rounded border-5 border-primary" background-color="#3366CC" width="75%" height="550" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//soundcloud.com/CraigCahail&amp;color=3366CC">
    </iframe>
  </div>
</div>
<%- include("footer.ejs") %>