<%- include("header.ejs") %>

<div class="container pt-5">
    <div class="justify-content-center align-items-center">
        <div class="newsHeader">
            <h1>NEWS</h1>
            <h3>Coming Soon!</h3>
        </div>
    </div>
</div>


<%- include("footer.ejs") %>