* {
    font-family: 'Roboto';
    color: black;
}

/* Color of the links BEFORE scroll */
.navbar-before-scroll .nav-link,
.navbar-before-scroll .navbar-toggler-icon {
color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-after-scroll .nav-link,
.navbar-after-scroll .navbar-toggler-icon {
color: #4f4f4f;
}
/* Color of the navbar AFTER scroll */
.navbar-after-scroll {
background-color: #fff;
}

/* Transition after scrolling */
.navbar-after-scroll {
transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/* Transition to the initial state */
.navbar-before-scroll {
transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-before-scroll.navbar-after-scroll {
padding-top: 5px;
padding-bottom: 5px;
}

.newsHeader {
    height: 75vh;
    text-align: center;
}

.card-contact {
  display: flex;
  max-width: 100rem;
  justify-content: center;
  align-items: center;
}

body {
    height: 150%;
    width: 100%;
    position: relative;
}

.gradient-background {
    background:linear-gradient(230deg, #0680a8, #4cff6a, #f7ac0a);
    background-size: 180% 180%;
    animation: gradient-animation 15s ease infinite;
}
  
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.home-card-main {
    background-color: rgba(12, 11, 11, 0.514);
}

.still-background {
    background-size: 180% 180%;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='80' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M0 0v40h40V0H0zm40 40v40h40V40H40zM4 4h32v32H4V4zm4 4v24h24V8H8zm4 4h16v16H12V12zm4.043 3.988v8.004h8.004v-8.004h-8.004zM44 44h32v32H44V44zm4 4v24h24V48H48zm4 4h16v16H52V52zm4.043 3.984v8.006h8.004v-8.006h-8.004z'  stroke-width='1' stroke='none' fill='hsla(104, 59%, 59%, 0.54)'/><path d='M44 4v32h32V4H44zm4 4h24v24H48V8zm4 4v16h16V12H52zm4 4h8v8h-8v-8zM4 44v32h32V44H4zm4 4h24v24H8V48zm4 4v16h16V52H12zm4 4h8v8h-8v-8z'  stroke-width='1' stroke='none' fill='hsla(181, 70%, 54%, 0.48)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,-49)' fill='url(%23a)'/></svg>");
}


footer {
    padding: 1em;
    width: 100%;
    top: 75%;
    position: absolute;

}

@media (max-width: 1600px) {
  .ccc {
    max-width: 50rem;
    margin: 2rem;
  }
}

/* Navbar on mobile */
@media (max-width: 991.98px) {
#main-navbar {
    background-color: #fff;
}

.nav-link,
.navbar-toggler-icon {
    color: #faf5f5 !important;
}
}

@media (min-width: 992px) {
.rotate-lg {
transform: rotate(6deg);
}

}

@media (max-width: 991px) {
    #homeCol1 {
        justify-content: center;
        height: 100vh;
    }
}

/* @media (max-width: ) {
    .home-card-main {

    }
} */