* {
    font-family: 'Roboto';

}

/* Color of the links BEFORE scroll */
.navbar-before-scroll .nav-link,
.navbar-before-scroll .navbar-toggler-icon {
color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-after-scroll .nav-link,
.navbar-after-scroll .navbar-toggler-icon {
color: #4f4f4f;
}
/* Color of the navbar AFTER scroll */
.navbar-after-scroll {
background-color: #fff;
}

/* Transition after scrolling */
.navbar-after-scroll {
transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/* Transition to the initial state */
.navbar-before-scroll {
transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-before-scroll.navbar-after-scroll {
padding-top: 5px;
padding-bottom: 5px;
}

.newsHeader {
    height: 75vh;
    text-align: center;
}

.card-contact {
  display: flex;
  max-width: 100rem;
  justify-content: center;
  align-items: center;
}

body {
    height: 150%;
    width: 100%;
    position: relative;
}


#homeCol1 {
   margin-top: 5rem;
   margin-bottom: 5rem;
 }   

.home-card-main {
    background-color: rgba(12, 11, 11, 0.514);
}

/* .CTA-div {
    
} */


/* .gradient-background {
    background:linear-gradient(230deg, #0680a8, #4cff6a, #f7ac0a);
    background-size: 180% 180%;
    animation: gradient-animation 15s ease infinite;
} */
  
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}



footer {
    padding: 1em;
    width: 100%;
    top: 75%;
    position: absolute;

}

@media (max-width: 1600px) {
  .ccc {
    max-width: 50rem;
    margin: 2rem;
  }
}

/* Navbar on mobile */
@media (max-width: 991.98px) {
#main-navbar {
    background-color: #fff;
}

.nav-link,
.navbar-toggler-icon {
    color: #faf5f5 !important;
}
}

@media (min-width: 992px) {
.rotate-lg {
transform: rotate(6deg);
}

}

@media (max-width: 991px) {
    #homeCol1 {
        justify-content: center;
        height: 100vh;
    }
}

/* @media (max-width: ) {
    .home-card-main {

    }
} */